



 #back_ground{
    background-color: #91E0DF;
    height: 580px;
    width: 2000px;
    
  
   
    
  }
  #dash_board{

    background-color: #ffffff;
    height: 480px;
    width: 70%;
    top: 25%;
    left: 15%;
    position: absolute;
    border-radius: 10px;

  }


 
  li {
    float: left;
  }
  
  .item {
    display: block;
    padding: 1em;
    border-radius: 5px;
  

    width: 46.99%;
   
   
    background-color: #ffffff;
  }

  
  .item-active {
    display: block;
    padding: 1em;
    
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;

    width: 46.8%;
   
   
    background-color: #91E0DF;
  }



  #bus_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
   
    
  }
  

 div.item a {

  display: block;
 
  
 
  text-align: center;
  
  text-decoration: none;
  
}

.title_button{
  position: relative;
  text-align: center;
  left: 200px;
  
}

#screen_1{

  text-align: center;
}
#screen_2{
  text-align: center;
}

#Elec_bus_title{

 color: black;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 55px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: absolute;
display: flex;
height: 60px;
width: 382px;
left: 400px;
top: 50px;
border-radius: nullpx;

}

#Fuel_bus_title{
  color: black;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 55px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  display: flex;
  height: 60px;
  width: 382px;
  left: 400px;
  top: 50px;
  border-radius: nullpx;
  

}


/*The stylying for drop down bus style*/

#dropdown_list{
 
  padding-top: 50px;
  padding-left: 45px;
}

#dropdown_button {
  padding-top: 100px;
  border-radius: 10px;
  background-color: #0979ad;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 200px;
  font-family: montserrat;
  border: 1px solid #ffffff;
}

.buses {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.buses li {
  color: black;
  padding: 5px;
  text-decoration: none;
  display: block;
  list-style: none;
  background-color: rgb(47, 47, 47);
  font-family: montserrat;
  border: 1px solid white;
}

.buses li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
}



/*The Dashboard of Electrical bus */


 /* Split the screen in half */
 .split {

  position: fixed;
  height: 300px;
  width: 300px;
 
  
  
}

/* Control the left side */
.left {
  position: relative;

}

/* Control the right side */
.right {
  position: relative;
  
  left:400px;
  bottom: 100px;
}


li .my_input{

   background: #CCE0FF;
   display: inline-block;
   border-radius: 10px;
   width: 100px;
   padding-right: 50px;
  

  
   
}

#title_input{
   color:black;
   padding-bottom: 2px;
}


ul li {
  display: inline-block;
}

#Bus-icon{
 
  position: relative;
  width: 300px;
  height: 200px;

}

#Save-button-eletrical-dashboard{

  background-color: #91E0DF; /* Green */
  
  color: black;
  border-color: #468382;
  padding: 15px 32px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  font-size: 16px;
  padding-left: 200px;
}

#Save-button-eletrical-dashboard-location{
  padding-top: 200px;
}

/*The Dashboar of liquid-fuel bus */

#liquid-fuel-input{
  padding-top: 100px;
}

#Fuel-Bus-icon{
  padding-top: 100px;
  
  position: relative;
  width: 300px;
  height: 200px;
}