#whole-page{
    display: flex;
    flex-flow: column;
    height: 100%;
}

/*The nagivation bar*/
#header {
    height: 90px;
    background-color: white;
    
  }

  .active {
   background-color: #91E0DF;
   width: 100px;
   margin-top: 20px;
   height: 30px;
   text-align: center;
   padding: 10px 30px;
   text-decoration: none;
   font-size: 17px;
   border-radius: 12px;
   float: right;
   color: black;
   font:bold;
   margin-right: 70px;
   margin-left: 10px;
  }

/* Stylying for login button and demo button*/   






.demo {
  width: 100px;
  margin-top: 20px;
  height: 30px;
 

  
  border-radius: 12px;
  float: right;
  color: black;
  font:bold;
  margin-right: 70px;
  margin-left: 10px;
  background-color: #91E0DF;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 17px;
}

  
  
 /* The body of landing-page*/
  
  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
 


#content{
    background: linear-gradient(#9F9DFB, #C9F8A5);    
 
    position: absolute;
    top: 100px;
    bottom: 0;
    width: 100%;
    
    
}



.left {float:left;width:550px; }

.right {
    
      margin-top:100px;
      width:600px;
      font-size:xx-large;
      font-weight: 700;}

.rightbuttom{float:left; padding-top: 50px;}





/* Login styling */





  

.container {   

  
  margin-top: 20px;
  margin-left: 450px;
  padding: 50px;

  height: 500px;
  width: 400px;
  
  background: rgba(255, 255, 255, 0.20);
}   


#title_container a{

  color:black;
  font-size: 30px;
  bottom: 30px;

  position: relative;
  left: 140px;

	
}


/*Registration form */

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
 
  padding: 5px;
  margin: 10px ;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: rgb(221, 221, 221, 0.20);
  outline: none;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

button:hover {
  opacity:1;
}
