<div id="back_ground">
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.1/papaparse.min.js"></script>
    <script src="jquery-csv.js"></script>
    <div id="dash_board">
     <li id="Energy graph" class="item"><a class="title_button-e">Energy Consumption Graph </a></li>
   
    

    <div id="switchscreenbus">  
    
    <div id="Content_switch_screen"> 

        <div id="dropdown_list">
            <button id="dropdown_button" 
                onclick="show_list()">
                Select Transit lines
            </button>
  
            <div id="routes_id" class="routes">
                <li id="Mainline 1"><a>Mainline 1</a></li>
                <li id="Line 2"><a>2 Line </a></li>
                <li id="3C Line"><a> 3C Line</a></li>
                <li id="3J Line"><a> 3J Line</a></li>
                <li id="3M Line"><a> 3M Line</a></li>
                <li id="4 Line"><a> 4 Line </a></li>
                <li id="5 Line"><a >5 Line</a></li>
                <li id="6 Line"><a >6 Line</a></li>
                <li id="7 Line"><a >7 Line</a></li>
                <li id="8 Line"><a >8 Line</a></li>
                <li id="9 Line"><a >9 Line</a></li>
                <li id="10 Line"><a >10 Line</a></li>
                <li id="11 Line"><a >11 Line</a></li>
                <li id="12 Line"><a >12 Line</a></li>
                <li id="13 Line"><a >13 Line</a></li>
                <li id="14 Line"><a >14 Line</a></li>
                <li id="15 Line"><a >15 Line</a></li>
                <li id="16 Line"><a >16 Line</a></li>
            </div>
        </div>
   </div>
  
  </div>

 <div id = "plot">  </div>


  <link rel="stylesheet" type="text/css" href="{% static 'energy_consumption_study/energy_board_style.css' %}">
  <script type="text/javascript" src="{% static 'energy_consumption_study/energy_board.js'%}"></script>
 </div>




