{% load static %}

<div id="back_ground">


 <div id="dash_board">
    <div class="energy_study_menu">
        <a id="SOC Study" class = "unpressed">SOC Study</a>
        <a id="Speed Profile" class = "unpressed">Speed Profile</a>
        <a id="Time vs Bus Study" class = "unpressed">Time vs Bus Study</a>
    </div>   

   <div id="switchscreenbus">  
    
     <div id="Content_switch_screen"> 
     



    </div>
   
   </div>

   
 
 </div>

 <link rel="stylesheet" type="text/css" href="{% static 'energy_consumption_study/energy_board_style.css' %}">
 <script type="text/javascript" src="{% static 'energy_consumption_study/energy_study_board.js'%}"></script>

 

</div>