<div id="back_ground">
    {% load static %}

    <div id="dash_board">
     <li id="Energy graph" class="item"><a class="title_button-e">Energy Consumption Graph </a></li>
   
    

    <div id="switchscreenbus">  
    
    <div id="Content_switch_screen"> 

        <div id="dropdown_list">
            <button id="dropdown_button" 
                onclick="show_list()">
                Select Transit lines
            </button>
  
            <div id="buses_id" class="buses">
                <li id="BYD K9"><a >Mainline 1</a></li>
                <li id="Volvo 7900"><a >2 Line </a></li>
                <li id="Proterra ZX5"><a >3C Line</a></li>
                <li id="Volvo 7900"><a >3J Line</a></li>
                <li id="Proterra ZX5"><a >3M Line</a></li>
                <li id="Volvo 7900"><a >4 Line </a></li>
                <li id="Proterra ZX5"><a >5 Line</a></li>
                <li id="Proterra ZX5"><a >6 Line</a></li>
                <li id="Proterra ZX5"><a >7 Line</a></li>
                <li id="Proterra ZX5"><a >8 Line</a></li>
                <li id="Proterra ZX5"><a >9 Line</a></li>
                <li id="Proterra ZX5"><a >10 Line</a></li>
                <li id="Proterra ZX5"><a >11 Line</a></li>
                <li id="Proterra ZX5"><a >12 Line</a></li>
                <li id="Proterra ZX5"><a >13 Line</a></li>
                <li id="Proterra ZX5"><a >14 Line</a></li>
                <li id="Proterra ZX5"><a >15 Line</a></li>
                <li id="Proterra ZX5"><a >16 Line</a></li>
            </div>
        </div>
   </div>
  
  </div>




  <link rel="stylesheet" type="text/css" href="{% static 'energy_consumption_study/energy_board_style.css' %}">
  <script type="text/javascript" src="{% static 'energy_consumption_study/energy_board.js'%}"></script>
 </div>




