{% load static %}
<div>

    <div id="dropdown_list">
        <button id="dropdown_button" 
            onclick="show_list()">
            Select Transit lines
        </button>

        <div id="routes_id" class="routes">
            <li id="Mainline 1"><a>Mainline 1</a></li>
            <li id="Line 2"><a>2 Line </a></li>
            <li id="3C Line"><a> 3C Line</a></li>
            <li id="3J Line"><a> 3J Line</a></li>
            <li id="3M Line"><a> 3M Line</a></li>
            <li id="4 Line"><a> 4 Line </a></li>
            <li id="5 Line"><a >5 Line</a></li>
            <li id="6 Line"><a >6 Line</a></li>
            <li id="7 Line"><a >7 Line</a></li>
            <li id="8 Line"><a >8 Line</a></li>
            <li id="9 Line"><a >9 Line</a></li>
            <li id="10 Line"><a >10 Line</a></li>
            <li id="11 Line"><a >11 Line</a></li>
            <li id="12 Line"><a >12 Line</a></li>
            <li id="13 Line"><a >13 Line</a></li>
            <li id="14 Line"><a >14 Line</a></li>
            <li id="16 Line"><a >16 Line</a></li>
        </div>
    </div>

    <div id="dropdown_list">
        <button id="dropdown_button_tripset" 
            onclick="show_list_tripset()">
            Select trip_set
        </button>

        <div id="tripset_id" class="tripset">
            <li id="Service 1"><a>Service 1 </a></li>
            <li id="Service 2"><a>Service 2</a></li>
            
        </div>
    </div>


    
  
    <div id = "speed_plot" style="position:relative; top:100px;">  </div>
 
</div> 
  
 
 <script type="text/javascript" src="{% static 'energy_consumption_study/speed_profile.js'%}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'energy_consumption_study/energy_board_style.css' %}"> 
  </div>