<!DOCTYPE html>
<html>
<body>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content ="width=device-width, inital-scale=1">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'home_page/style.css' %}">
        
        <script type="text/javascript" src="static/home_page/landing_page.js"></script> 

        <title>ENVI_SIM</title>
    


    </head>
   
    <div id="whole-page">

       <div id="header">
         <img src="{% static 'home_page/website_logo.JPG' %} " height="80">
         <a href="#news">Book a demo </a>
         <a href="{% url 'login' %}">Login</a>
       </div> 
  
      <div id="content">

        <div class='container2'>
            <img class= "left" src="{% static 'home_page/eBus.png' %} " style="height:450px;padding-top:50px">
            
            <div class="right"> A simulation tool that helps validate the feasibility of implementing EV transit system</div>
            <div class = "rightbuttom"> ENVI-SIM helps bring fleet management data and ideas into results for environmental and economic analysis.</div>
            <ul class = "featurelist">
                Feature includes: 
                <li>Energy consumption calculation</li>
                
                <li>Route analysis</li>
                <li>Vehicle charge times</li>
                <li>Electric Grid Impact</li>
                <li> Interactive map and more </li>
              </ul> 
              
        </div>

   

       </div>



    </div> 


</body>
</html>