<div id="back_ground">
    {% load static %}

    <div id="dash_board">
     <li id="Energy graph" class="item"><a class="title_button-e">Financial Impact Study </a></li>
   
    

    <div id="switchscreenbus">  
    
    <div id="Content_switch_screen"> 

       
    </div>
  
   </div>

   <link rel="stylesheet" type="text/css" href="{% static 'schedule_impact_study/schedule_dashboard.css' %}">
   <script type="text/javascript" src="{% static 'schedule_impact_study/schedule_board.js'%}"></script>
 </div>



