<!DOCTYPE html>
<html>
<body>
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content ="width=device-width, inital-scale=1">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'account/style_login.css' %}">
        
        <script type="text/javascript" src="static/home_page/landing_page.js"></script> 
      
        <title>ENVI_SIM</title>
    


    </head>
   
    <div id="whole-page">

       <div id="header">
         <img src="{% static 'home_page/website_logo.JPG' %} " height="80">
         <a class = "demo" href="#news">Book a demo </a>
         <a  class="active" href="{% url 'login' %}">Login</a>
       </div> 
  
      <div id="content">

        <div class='container2'>
            <img class= "left" src="{% static 'home_page/eBus.png' %} " style="height:450px;padding-top:50px">
            
            <div class="right"> 
              

                <form action="" method="POST">
                   
                    {% csrf_token %}  
             
                
                    <div class="container">
                        
                        
                        {% for field in form %}
                        <div>
                            {{ field.errors }}

                           
                            <label style="font-size:large; padding: 10px 10px 10px 10px">  {{ field.label_tag }}</label>
                            
                            <div style="padding: 10px 10px 10px 10px">{{ field }}</div>
                            {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}



                         <div id="forgot_password"> 
                               <a>forget password ?</a>
                         </div>

                        <div id="login_sign_up_buttons">
                           <a href="{% url 'register_user' %}"type="submit" value="Submit"> Sign up</a>   
                           <input type="submit" value="Submit">  
                          

                        </div>

                    </div>   
                </form>     







            </div>
         
        </div>

   

       </div>



    </div> 


</body>
</html>