<!DOCTYPE html>
<html>
<body>
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content ="width=device-width, inital-scale=1">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'account/style_registration.css' %}">
        
        <script type="text/javascript" src="static/home_page/landing_page.js"></script> 

        <title>ENVI_SIM</title>
    


    </head>
   
    <div id="whole-page">

       <div id="header">
         <img src="{% static 'home_page/website_logo.JPG' %} " height="80">
         <a class = "demo" href="#news">Book a demo </a>
         <a  class="active" href="{% url 'login' %}">Login</a>
       </div> 
  
      <div id="content">

        <div class='container'>
           
          

                <div id="title_container">
                   <a>Registration</a>
                <div>

              <form method="POST" action="">
               
                {% csrf_token %}

                <label for="email" ><b>First Name</b></label>
                 {{form.first_name}}

                <label for="email" ><b>Last Name</b></label>
                 {{form.last_name}}

                 <label for="email" ><b>Work Email</b></label>
                 {{form.email}}

                 <label for="psw" ><b>Password</b></label>
                 {{form.password1}}

                 <label for="psw-repeat" ><b>Repeat Password</b></label>
                 {{form.password2}}
 
            
                
            
                <div class="clearfix">
                  <button type="button" class="cancelbtn">Cancel</button>
                  <button type="submit" class="signupbtn">Sign Up</button>
                </div>

            </form>

         
        </div>

   

       </div>



    </div> 


</body>
</html>