
 #back_ground{
    background-color: #91E0DF;
    position: relative;
    height: 570px;
    width: 2000px;
    margin: 0%;
    padding: 0%;
   
  }

  
  #dash_board{

    background-color: #ffffff;
    position: relative;
    height: 490px;
    width: 1100px;
    top: 5%;
    left: 40%;
    
    
    
    border-radius: 10px;

  }

 
  li {
    float: left;
  }
  
  .item {
    display: block;
    padding: 1em;
    border-radius: 5px;
    width: 46.99%;
    background-color: #ffffff;
    font-family: verdana;
  }

  
  .item-active {
    display: block;
    padding: 1em;
    
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    font-family: verdana;
    width: 46.8%;
   
   
    background-color: #91E0DF;
  }
