.energy_study_menu{
  overflow: hidden;
}

.pressed{
  float: left;
  color: #000000;
  width:333px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;

}

.unpressed{
  float: left;
  color: #000000;
  width:333.8px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #91E0DF;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;

}

#energy_plot{
 
 
}


.routes {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(170, 0, 0, 0.2);
    z-index: 1;
  }
  
  .routes li {
    color: black;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    list-style: none;
    background-color: #CCE0FF;
    font-family: montserrat;
    border: 1px solid white;
    cursor: pointer;
  }

  .routes li:hover {
    color: black;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    list-style: none;
    background-color: #C9F8A5;
    font-family: montserrat;
    border: 1px solid white;
    cursor: pointer;
  }
  
  .seasons{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(170, 0, 0, 0.2);
    z-index: 1;
  }

  .seasons li{
    color: black;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    list-style: none;
    background-color: #CCE0FF;
    font-family: montserrat;
    border: 1px solid white;
    cursor: pointer;


  }
  

  .seasons li:hover {
    color: black;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    list-style: none;
    background-color: #C9F8A5;
    font-family: montserrat;
    border: 1px solid white;
    cursor: pointer;
  }

  #dropdown_button_seasons {
    padding-top: 100px;
    border-radius: 10px;
    background-color: #0979ad;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 200px;
    font-family: montserrat;
    border: 1px solid #ffffff;
  }

  #dropdown_button_routes {
    padding-top: 100px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #0979ad;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 200px;
    font-family: montserrat;
    border: 1px solid #ffffff;
  }
  
  
  #dropdown_list_seasons{

    padding-top: 50px;
  padding-left: 45px;
  }
 #back_ground{
  background-color: #91E0DF;
  position: relative;
  height: 570px;
  width: 2000px;
  margin: 0%;
  padding: 0%;
 
}


#dash_board{

  background-color: #ffffff;
  position: relative;
  height: 490px;
  width: 1100px;
  top: 5%;
  left: 40%;
  
  
  
  border-radius: 10px;

}


li {
  float: left;
}

.item-e {
  display: block;
  padding: 1em;
  border-radius: 5px;
  width: 300px;
  background-color: #ffffff;
  font-family:sans-serif;
}


.item-active-e {
  display: block;
  padding: 1em;
  
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;

  width: 300px;
 
 
  background-color: #91E0DF;
}


#bus_menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
 
  
}


div.item a {

display: block;



text-align: center;

text-decoration: none;

}

.title_button-e{
position: relative;
text-align: center;
font-family:sans-serif;
left: 120px;

}
