<div id="back_ground">

   <head>
     <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
  </head>

    {% load static %}

    <div id="dash_board">
     <li id="Energy graph" class="item"><a class="title-c">Charging Stations </a></li>
   
  
 
     
     <div class="split-c left-c">

      <div class="left-screen">
  
        <div id="dropdown_list_charger">
          <button id="dropdown_button" 
              onclick="show_list()">
              Charger station
          </button>

          
          <select id="chargers_id" class="chargers" multiple>
            <option id="Waterfront Terminal" value ="Waterfront Terminal">Waterfront terminal</option>
            <option id="City Hall terminal" value = "City Hall terminal">City Hall terminal</option>  
            <option id="Memorial & Squire" value="Memorial & Squire">Memorial and Squire</option>   
            <option id="Thunder Bay Kasper Bus Depot" value ="Thunder Bay Kasper Bus Depot">Thunder Bay Kasper Bus Depot</option>          
          </select>
      </div>
  
     
    

  
       </div>
      </div>
   
    <div class="split-c right-c">
        <div class="right-screen">
          <div id='charging-station-map'></div> 
          <script async
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7CIJd0Sk2ysCH_30GQnEHn9s2Jyu5rio&callback=initMap&v=weekly">
          </script>
        
      
        </div> 
    </div>
    
    
   
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel="stylesheet" type="text/css" href="{% static 'charging_stations/charging_style.css' %}">
    <script type="text/javascript" src="{% static 'charging_stations/charging_stations.js'%}"></script>
 </div>