<div id="back_ground">
  {% load static %}

  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>


    <div id="dash_board">
     <li id="Energy graph" class="item"><a class="title-c">Charging Stations </a></li>
   

     
     <div class="split-c left-c">

      <div class="left-screen">
      
      
        <img id="add-charger"style="height:20px;"src="https://img.icons8.com/color/48/000000/add--v1.png"/></img>
        
        <div id="list-btns">

          <div class="select">
            <select class="location_id" style="float:left">
                <option value="Waterfront Terminal"><a >Waterfront Terminal</a></option>
            </select>
            
          </div>
           
         <div class="select"> 
            <select id="type_id" >
              <option value="Fast" selected="selected"><a>Fast</a></option>
              <option value="Slow"><a >Slow</a></option>
              <option value="Swap"><a >Swap</a></option>
            </select>
          </div>
          

          
          

      </div>

      <div id="list-btns">

        <div class="select">
          <select class="location_id_2"  style="float:left">
              <option value="City Hall Terminal"><a >City Hall Terminal</a></option>
          </select>
          
        </div>
         
       <div class="select"> 
          <select id="type_id_2" >
            <option value="Fast" selected="selected"><a>Fast</a></option>
            <option value="Slow"><a >Slow</a></option>
            <option value="Swap"><a >Swap</a></option>
          </select>
        </div>

        
        

    </div>
       
    
      <div class="select"  id="append"style="float:left"  ;></div>
     
     
      <ul id="Charging_configuration">
        <li>
            <label id="title_input-r">Charge Rate (Slow)</label>
            <input class = "my_input-r" type="text" value="20" readonly>
            <label id="unit_label">KW</label>
        </li>
        <li>
          <label id="title_input-r">Charge Rate (Fast)</label>
          <input class = "my_input-r" type="text" value="240" readonly>
          <label id="unit_label">KW</label>
      </li>
      <li>
        <label id="title_input-r">Charge Rate (Swap)</label>
        <input class = "my_input-r" type="text" value="15"readonly>
        <label id="unit_label">Min</label>
    </li>
       </ul>
      
      
    
     </div>

  
       </div>
      </div>
   

    <div class="split-c right-c">
        <div class="right-screen">
         
          <div id='charging-station-map'></div> 


          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7CIJd0Sk2ysCH_30GQnEHn9s2Jyu5rio&callback=initMap"></script>
          <input type="submit" id="submit_parameter" value="Save">
        
          </div>
        </div>
        
      </div>
     
     
         
      
   
    
    
  
    <link rel="stylesheet" type="text/css" href="{% static 'charging_stations/charging_style.css' %}"></link>
    <script type="text/javascript" src="{% static 'charging_stations/charging_stations.js' %}"></script>

   
    
    
 </div>