   
   
<!DOCTYPE html>
<html>
  <head>
    <title>ENVI_SIM</title>
    {% csrf_token %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    {% load static %}

  

   
  </head>
  <body>
    <div class="container">

      <div class="item-a" id="header">
        <img src="{% static 'google_map/website_logo.JPG' %} " height="60">
        <button type="button" class="btn btn-light">Home</button>
        <button type="button" class="btn btn-light">About</button>
        <button type="button" class="btn btn-light">Account</button>
        <button type="button" class="btn btn-light">Support</button>
        <a href="#news">Help</a>
        <a href="{% url 'login' %}">Logout</a>
      </div> 

      <div>
       


         
           

        <img src="https://img.icons8.com/material/24/000000/menu--v5.png"/ id="menu">

          <div id ="sidebar">
           
            <a  class="sidebar-item" id ="Bus_Dashboard"> 
              <img  style="width:20px;height:20px;" src="https://img.icons8.com/ios/100/000000/bus.png"/> 
              <div id="Bus_Dashboard_title">Bus Dashboard</div>
            </a>
           

              <a  class="sidebar-item" id ="Routes" > 
                <img  style="width:20px;height:20px;" src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/64/000000/external-route-interface-kiranshastry-solid-kiranshastry.png"/>
                <div id="Routes_title">Routes</div>
              </a>

             

             <a class="sidebar-item" id ="Energy Consumption Study">
              <img style="width:20px;height:20px;" src="https://img.icons8.com/external-those-icons-fill-those-icons/24/000000/external-energy-nature-ecology-those-icons-fill-those-icons.png"/>
              <div id="Energy_Consumption_Study_title">Energy Consumption Study</div>
             </a>

           <a class="sidebar-item" id ="Environmental Impact Study">
            <img style="width:20px;height:20px;" src="https://img.icons8.com/external-kmg-design-detailed-outline-kmg-design/64/000000/external-save-the-world-climate-change-kmg-design-detailed-outline-kmg-design-1.png"/>
            <div id="Environmental_Impact_Study_title">Environmental Impact Study</div>
           </a>

            <a class="sidebar-item" id ="Financial Impact Study">
              <img style="width:20px;height:20px;" src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/000000/external-report-project-planing-flatart-icons-outline-flatarticons-1.png"/>
               <div id="Financial_Impact_Study_title">Financial Impact Study</div>
           </a>
           <a class="sidebar-item" id ="Schedule Impact Study">
             <img style="width:20px;height:20px;" src="https://img.icons8.com/ios/50/000000/view-shedule.png"/>
             <div id="Schedule_Impact_Study_title">Schedule Impact Study</div>
          </a>

             <a class="sidebar-item" id ="Charging Stations">
              <img style="width:20px;height:20px;" img src="https://img.icons8.com/external-wanicon-lineal-wanicon/64/000000/external-charging-car-service-wanicon-lineal-wanicon.png"/>
              <div id="Charging_Stations_title">Charging Stations</div>
           </a>

           <a class="sidebar-item" id ="Scheduling">
            <img style="width:20px;height:20px;" src="https://img.icons8.com/external-parzival-1997-detailed-outline-parzival-1997/64/000000/external-optimization-artificial-intelligence-and-machine-learning-parzival-1997-detailed-outline-parzival-1997.png"/>
            <div id="Scheduling_title">Scheduling</div>
         </a>

         <a class="sidebar-item" id ="Export">
          <img style="width:20px;height:20px;" src="https://img.icons8.com/ios-glyphs/30/000000/database-export.png"/>
          <div id="Export_title">Export</div>
       </a>





          </div>
        
         

             <div id="switchscreen" style="float:right">
             
             </div>
         

        
      
    </div>

    

      

    
  </div>
  </body>

  

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-2.9.0.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'menu\menu.css'%}">
  
  <script type="text/javascript" src="{% static 'menu\menu.js'%}"></script> 
  <script type="text/javascript" src="{% static 'fleet_report/report.js'%}"></script>   
  <script type="text/javascript" src="{% static 'google_map/map_n_routes.js'%}"></script>
  <script type="text/javascript" src="{% static 'BusDashBoard/DashBoard.js'%}"></script>
  <script type="text/javascript" src="{% static 'optimization_config/optimization_config.js'%}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'optimization_config/optimization_config.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'BusDashBoard/DashBoard.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'fleet_report/report.css' %}">

</html> 