@media (min-width:640px){.container{max-width:640px}}
@media (min-width:768px){.container{max-width:768px}}
@media (min-width:1024px){.container{max-width:1024px}}
@media (min-width:1280px){.container{max-width:1280px}}
@media (min-width:1536px){.container{max-width:1536px}}

.mx-4{margin-left:1rem;margin-right:1rem;position: relative; 
  overflow-x: scroll ; max-height:33em}
.relative_c{position: relative;}
.h-screen{height:100vh}
.items-stretch{align-items:stretch}
.mx-auto{margin-left:auto;margin-right:auto}
.w-full{width:100%}
.h-full{height:100%;}
.ml-4{margin-left:1rem}
.flex{display:flex}
.my-1{margin-top:.25rem;margin-bottom:.25rem}
.flex-none{flex:none; max-width: 12em;}
.wraprow{ display: flex;
  flex-wrap: wrap;
 }
.flex-row{flex-direction: row;}
@media (min-width: 768px){}
.md\:overflow-y-scroll {
    overflow-y: scroll;
}

@media (min-width: 768px){.md\:flex {
    display: flex;
}}

@media (min-width: 768px){
  .md\:mx-auto {
    margin-left: auto;
    margin-right: auto;
}
}


.text-2xl{font-size:1.5rem;line-height:2rem}
.pt-4{padding-top:1rem}
.pb-2{padding-bottom:.5rem}
.mb-3{margin-bottom:.75rem}
.text-lg{font-size:1.125rem;line-height:1.75rem}

.text-gray-800{--tw-text-opacity:1;color:rgba(31,41,55,var(--tw-text-opacity))}
.mr-2{margin-right:.5rem}
.mt-1{margin-top:.25rem}


.route-color-swatch {
    min-width: 26px;
    height: 26px;
    border-radius: 13px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    letter-spacing: -0.5px;
    padding: 0 5px;
  }
  
.route-color-swatch-large {
    min-width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
    padding: 0 8px;
  }

  .items-stretch{align-items:stretch}
  .leading-none{line-height:1}

 

/* Map Styles */

.map {
    min-height: 350px;
    overflow: hidden
  }
  
  .map .mapboxgl-popup-content .popup-title {
    margin: 0 20px 5px 0;
    font-size: 16px;
    font-weight: bold;
  }
  
  .map .mapboxgl-popup-content .route-item {
    display: flex;
    align-items: center;
    line-height: 1;
  }

  /* Overview  page */

.overview-menu-item {
    display: block;
    text-decoration: none;
    padding: 5px;
  }
  
  .overview-menu-item:hover {
    text-decoration: none;
    background: #bdd5fa;
  }
  .md\:flex {
    display: flex;
}

.map {
    min-height: 460px;
    overflow: hidden
}

table {
  width: 100%;
  margin: 20px auto;
  table-layout: auto;
}
tr:nth-child(even) {background-color: #f2f2f2;}


.fixed {
  table-layout: fixed;
}

table,
td,
th {
  border-collapse: collapse;
}