{% load static %}
<div>

  
  
  <div class="split left">
  
  <ul id="liquid-fuel-input">
    <li>
        <label id="title_input">Model Name </label>
        <input class = "my_input" type="text" value="Orion Bus 07.501">
      </li>
  <li>
    <label id="title_input">Manufacturer</label>
    <input class = "my_input" type="text">
  </li>
  <li>
    <label id="title_input">Max Passengers Capacity</label>
    <input class = "my_input" type="text" value="">
  </li>
  </ul>
  
  
  
  </div>
  </div>
  
  <div class="split right" style="padding-left:200px;">
  <img id="Fuel-Bus-icon" src="https://www.thunderbay.ca/en/city-hall/resources/Images/History-Heritage-and-Records/Web-Exhibits/NewBus2013b.jpg" >
  
  </div>
  </div> 
  
  
  <script type="text/javascript" src="{% static 'BusDashBoard/fuel.js'%}"></script> 
  <link rel="stylesheet" type="text/css" href="{% static 'BusDashBoard/DashBoard.css' %}">
  </div>