{% load static %}
<div>

  
  <div>
    
    <div id="dropdown_list">
        <button id="dropdown_button" 
            onclick="show_list_bus()">
            Select disel bus
        </button>

    </div>


    <div class="split left">
      
    <ul>
    <li>
        <label id="title_input">Model name</label><br>
        <input class = "my_input-d" type="text" readonly>
    </li>
     <li>
        <label id="title_input">Manufacturer</label>
        <input class = "my_input-d" type="text" readonly>
    </li>
     <li>
        <label id="title_input">Passenger max capacity</label>
        <input class = "my_input-d" type="text" readonly>
    </li>
    
   </ul>

    </div>

  

  </div>

 

  <div class="split right">
    <img id="Bus-icon"  style="width:300px;height:250px;" src= "{% static 'BusDashBoard/tb.jpg' %} " >
    
    </div>
  </div> 



  
  
  <script type="text/javascript" src="{% static 'BusDashBoard/fuel.js'%}"></script> 
  <link rel="stylesheet" type="text/css" href="{% static 'BusDashBoard/DashBoard.css' %}">
  </div>