{% load static %}
<div>

    <div id="Fuel_bus_title">
      Fuel-Bus DashBoard
    </div>
  
  
  <div class="split left">
  
  <ul id="liquid-fuel-input">
    <li>
        <label id="title_input">Current model</label>
        <input class = "my_input" type="text" value="Orion Bus 07.501">
      </li>
  <li>
    <label id="title_input">Disel Cost</label>
    <input class = "my_input" type="text">
  </li>
  <li>
    <label id="title_input">Es. CO2 emission</label>
    <input class = "my_input" type="text" value="0.707 per kwh">
  </li>
  </ul>
  
  
  
  </div>
  </div>
  
  <div class="split right" style="padding-left:200px;">
  <img id="Fuel-Bus-icon" src="https://www.thunderbay.ca/en/city-hall/resources/Images/History-Heritage-and-Records/Web-Exhibits/NewBus2013b.jpg" >
  
  </div>
  </div> 
  
  
  <script type="text/javascript" src="{% static 'BusDashBoard/fuel.js'%}"></script> 
  </div>