/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
 

      #whole-page{
        display: flex;
        flex-flow: column;
        height: 100%;
    }
    
    /*The nagivation bar*/
    #header {
        height:100 px;
        background-color: white;
        
      }
      .btn {
        margin-bottom: 1.5rem;
        display: inline-block;
        font-weight: 600;
        line-height: 1.5;
        color: #212529;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem 0.75;
        font-size: 1rem;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
      
      .btn-light{
        color: #000;
        background-color: #f8f9fa;
        border-color: #f8f9fa;
      }
      
      #map {
        height: 100%;
      }
    
    
    /* Stylying for login button and demo button*/   
      #header a {
        width: 100px;
        margin-top: 10px;
        height: 20px;
        font-weight: 600;
    
        
        border-radius: 12px;
        float: right;
        color: black;
        font:bold;
        margin-right: 20px;
        margin-left: 10px;
        background-color: #91E0DF;
        text-align: center;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 17px;
      }
      
      
      /* Hovering button*/
      #header a:hover {
        background-color: rgb(165, 202, 185);
        color: black;
      }

      .container {
        grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
        grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
        
      }
      .item-a {
        grid-column-start: 2;
        grid-column-end: five;
        grid-row-start: row1-start;
        grid-row-end: 3;
      }
      .item-b {
        grid-column-start: 1;
        grid-column-end: span col4-start;
        grid-row-start: 2;
        grid-row-end: span 2;
      }
      .item-c {
        grid-column: 3 / span 2;
        grid-row: third-line / 4;
      }

      /*.container {
        grid-template-columns: [first] 50% [mid-line] 50% [end];
        grid-template-rows: [row1-start] 10% [first-line] auto [last-line];
      }

      
      
      .item-a {
        grid-column-start: first;
        grid-column-end: end;
        grid-row-start: row1-start;
        grid-row-end: first-line;
      }

      .item-b {
        grid-column-start: first;
        grid-column-end: mid-line;
        grid-row-start: first-line;
        grid-row-end: last-line;
      }

      .item-c {
        grid-column-start: mid-line;
        grid-column-end: end;
        grid-row-start: first-line;
        grid-row-end: last-line;
      }*/
      
     /* The body of landing-page*/
      
      html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        background: linear-gradient(#9F9DFB, #C9F8A5);    

    }

  
    #content{
     
        position: absolute;
        top: 80px;
        bottom: 0;
        width: 100%;
        
        
    }
    .container2 {
      
      height:auto;
      padding: 0%;
      float:left;
    }
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
     
    }
    .grid-child purple{
      border:black;
      border-style: groove;
      border-width: 33px;
      
    }
    .grid-child green{
      border:black;
      border-style: groove;
      border-width: 33px;
      height: 100%;
    }
    
    .left {float:left;width:1000px; margin: 20px 20px 50px 20px ;  }
    .right {float:left;margin-top:100px;width:700px; font-size: xx-large;font-weight: 700;}
    
    .rightbuttom{float:left; padding-top: 50px;}
    .featurelist{float:left;margin-top:40px;width:700px; font-size:medium ;font-weight: 700;}
    
    .demo {
      border:1px solid #C0C0C0;
      border-collapse:collapse;
      padding:5px;
      background-color: whitesmoke;
    }
    .demo th {
      border:1px solid #C0C0C0;
      padding:5px;
      background:#F0F0F0;
    }
    .demo td {
      border:1px solid #C0C0C0;
      padding:5px;
    }